* {
  margin: 0;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

body {
  background-image: url("../public/fundo.png");
  background-position: right center;
  background-size:cover;
}

@font-face {
  font-family: 'tisa_sans_probold';
  src: url('tisa_sans_pro_bold-webfont.woff2') format('woff2'),
       url('tisa_sans_pro_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}